body{
    margin: 0;
    padding: 0;
    background: rgb(32, 33, 36);
}
#img1{
    margin-top: 3vh;
width: 45vw;
height: 45vh;
border: 2px solid white;
}
.sect2{
    display: flex;
    justify-content: center;
}
#resume{
    margin: 100px;
    border-bottom: 2px solid white;
}
#img2{
    width: 30vw;
    height: 30vh;
    border: 2px solid white;
}
#img3{
    margin-left: 5vb;
    width: 30vw;
    height: 30vh;
    border: 2px solid white;
}
.atualizacoes{
    display: flex;
    justify-content: center;
}
h1{
    display: flex;
    justify-content: center;
   font-size: 50px;
   color: white;
 
}
.click{
    display: flex;
    justify-content: center;
}
input {
    background-color: #140e25;
    border: none;
    color: white;
    padding: 15px 62px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  nav{
    background-color: rgb(23, 22, 21);
    display:flex;
    justify-content: center;
  }
  #logo{
    width: 15vw;
    height: 7vh;
  }